# Sarah Quesnelle, 53914140

## Research question/interests

### Question 1:

Is there a significant increase in Temperature change for BC, Canada for the years we are interested in. The years are from 1850 to 2015.

### Question 2:



### Question 3:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import Project_Functions as Funcs

## Temperature Changes in Canada

In [8]:
file = '../data/raw/Canada_data/Canada_Temperature/csv_canada_1917_1.CSV'
Canada = Funcs.DataClean(file)
Canada.head(5)

,Stn_Name,Prov,Tm,DwTm,D,Tx,DwTx,Tn,DwTn,S,DwS,S%N,P,DwP,P%N,Pd,HDD,CDD
0,BEAR CREEK,BC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.4,0.0,NaN,415.3,0.0,NaN,23.0,NaN,NaN
1,BEAVER LAKE,BC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.1,0.0,NaN,122.5,0.0,NaN,17.0,NaN,NaN
2,COWICHAN,BC,1.3,0.0,NaN,10.0,0.0,-13.9,0.0,54.6,0.0,NaN,114.7,0.0,NaN,13.0,517.4,0.0
3,COWICHAN BAY CHERRY POINT,BC,1.3,0.0,NaN,10.6,0.0,-13.9,0.0,24.1,0.0,NaN,87.7,0.0,NaN,9.0,516.6,0.0
4,GOLDSTREAM LAKE,BC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.1,0.0,NaN,223.5,0.0,NaN,18.0,NaN,NaN

In [21]:
Canada.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69 entries, 9 to 488
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Stn_Name  69 non-null     object
 1   Prov      69 non-null     object
 2   Tm        69 non-null     float64
 3   DwTm      69 non-null     float64
 4   D         69 non-null     float64
 5   Tx        69 non-null     float64
 6   DwTx      69 non-null     float64
 7   Tn        69 non-null     float64
 8   DwTn      69 non-null     float64
 9   S         69 non-null     float64
 10  DwS       69 non-null     float64
 11  S%N       69 non-null     float64
 12  P         69 non-null     float64
 13  DwP       69 non-null     float64
 14  P%N       69 non-null     float64
 15  Pd        69 non-null     float64
 16  HDD       69 non-null     float64
 17  CDD       69 non-null     float64
dtypes: float64(16), object(2)
memory usage: 10.2+ KB

In [19]:
# Drop NaN values
Canada = Canada.dropna()

In [22]:
Canada.head(5)

,Stn_Name,Prov,Tm,DwTm,D,Tx,DwTx,Tn,DwTn,S,DwS,S%N,P,DwP,P%N,Pd,HDD,CDD
9,SAANICHTON CDA,BC,2.0,0.0,-2.8,9.4,0.0,-12.8,0.0,41.7,0.0,513.0,102.2,0.0,70.0,15.0,496.8,0.0
12,SHAWNIGAN LAKE,BC,0.2,0.0,-3.3,7.8,0.0,-17.8,0.0,35.5,0.0,175.0,76.3,0.0,35.0,12.0,552.2,0.0
32,QUATSINO,BC,2.5,0.0,-1.9,9.4,0.0,-10.6,0.0,29.1,0.0,283.0,258.6,0.0,73.0,25.0,481.9,0.0
40,BELLA COOLA,BC,-2.5,0.0,-2.4,7.8,0.0,-24.4,0.0,36.4,0.0,100.0,125.5,0.0,57.0,15.0,635.0,0.0
54,BARKERVILLE,BC,-10.5,0.0,-3.0,2.2,0.0,-41.1,0.0,236.3,0.0,269.0,236.3,0.0,246.0,18.0,883.0,0.0